#searchInput {
  border-radius: 25px 0 0 25px;
}

.username-link img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.post-item {
  background-color: #f0f8ff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  text-align: center;
}

.post-item:hover {
  background-color: #d1e7f5;
}

.btn-primary:hover {
  background-color: #022c58;
  transform: scale(1.05);
}



header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 100px; 
}


.post-item {
  max-width: 800px;  
  margin: 0 auto;    
}
