#searchInput {
  border-radius: 25px 0 0 25px;
}

.username-link img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.post-item {
  background-color: #f0f8ff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  text-align: center;
}

.post-item:hover {
  background-color: #d1e7f5;
}

.btn-primary:hover {
  background-color: #022c58;
  transform: scale(1.05);
}



header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 100px; 
}


.post-item {
  max-width: 800px;  
  margin: 0 auto;    
}


.post-actions .btn i {
  font-size: 10px; 
}


.post-actions .btn {
  padding: 5px 10px;  
  font-size: 14px;  
  height: 30px;     
  width: 30px;        
  display: flex;      
  justify-content: center;
  align-items: center;
}

.reaction-count a {
  font-size: 14px; 
  padding-left: 1x;
  padding-right: 1px;
  align-self: center;
}

.comment-reactions .reaction-button {
  font-size: 13px; 
  padding: 0.50rem;
}


@media (min-width:900px) { /* lg e acima */
  aside {
      position: fixed;
      top: 90px !important;  /* Altura do header (70px) + barra azul (3px) */
      left: 0;
      height: calc(100vh - 73px); /* Altura total menos o header */
      overflow-y: auto;
  }
  main {
      margin-left: 16.6667%; /* Largura da sidebar em lg (col-lg-2) */
  }
}
